{% extends 'admin_index.html' %}
{% block body %}
<body>
	<table align="center" class="table" style="width: 500px">
			<h1 align="center">Members</h1>
			<tr>
				
				<th>Name</th>
				<th>Photo</th>
				<th>House Name</th>
				<th>Place</th>
				<th>Pincode</th>
				<th>Phone</th>
				<th>Email</th>
				<th>Gender</th>
				<th>Dob</th>
				<th>Membership Type</th>
			</tr>
			{% for row in data['users'] %}
				<tr>
					<td>{{row['first_name']}}{{row['last_name']}}</td>
					<td><img src="/{{row['photo']}}" height="180px" width="180px"></td>
					<td>{{row['house_name']}}</td>
					<td>{{row['place']}}</td>
					<td>{{row['pincode']}}</td>
					<td>{{row['phone']}}</td>
					<td>{{row['email']}}</td>
					<td>{{row['gender']}}</td>
					<td>{{row['dob']}}</td>
					<td>{{row['user_type']}}</td>
				
				</tr>
			{% endfor %}
		</table>

</body>
{% endblock %}