{% extends 'public_index.html' %}
{% block body %}
<body>
	
<style type="text/css">
td{background-color: transparent;font-weight: 2px;color: black}
hr{border-color: orange}
#b {
   border: 1px solid grey; 
   padding: 10px;
}
</style>





<div align="center"> 
   <form method="post" action="payment">
      <h2 style="color: aliceblue;"> Payment </h2> 
      <table style="width: 500px; border-radius: 5px;color:aliceblue" class="table table-borderless" id="b"> 
         <tr> 
            <td style="color: aliceblue;">PAYMENT DETAILS</td> 
            <td><img src="/static/images/credit_card.png" style="width:100%"></td>

         </tr>
         <tr> 
            <td colspan="2"  style="color: aliceblue;"> <small>CARD NUMBER</small><br> 
               <input type="text" placeholder="Enter a valid card number"  class="form-control" required pattern="[0-9]{16}" title="Enter 16 digit Card number">

            </td> 
         </tr>
         <tr> 
            
            <td  style="color: aliceblue;"> <small>CVV</small><br> 
               <input type="text" placeholder="CVV"  class="form-control" required pattern="[0-9]{3}" title="Enter 3 digit CV number">
            </td> 
            <td  style="color: aliceblue;"> <small>EXPIRATION DATE</small><br> 
               <input type="month" placeholder="MM/YY"  class="form-control" required  title="Enter month and year"> 
            </td>

            
         </tr>
         <tr> 
            <td colspan="2"  style="color: aliceblue;"> <small>CARD HOLDER</small><br> 
               <input type="text" placeholder="Name on card"  class="form-control" data-valid='only-text' required > </td>
            </tr>

            <tr> 
               <td colspan="2"  style="color: aliceblue;"> <b><small>Amount : </small>
                  2389
               </b></td>
            
            </tr>

            <tr> 
               <td colspan="2"> 
                  <input type="submit" value="PAY"  class="btn btn-success" style="width: 100%" name="pay"> </td>
               </tr>
            </table>
         </div>
      </form>









</div></div><div style="height:200px"></div>
      </div></div></section>















</body>
{% endblock %}