{% extends 'public_index.html' %}
{% block body %}
<body>
	<form method="post" enctype="multipart/form-data">
	<table align="center" class="table" style="width: 500px;">
		<h1 align="center">Register</h1>
		<tr>
			<th>First Name</th>
			<td><input type="text" name="fname" required="" class="form-control"></td>
		</tr>
		<tr>
			<th>Last Name</th>
			<td><input type="text" name="lname" required="" class="form-control"></td>
		</tr>
		<tr>
			<th>House Name</th>
			<td><input type="text" name="hname" required="" class="form-control"></td>
		</tr>
		<tr>
			<th>Place</th>
			<td><input type="text" name="place" required="" class="form-control"></td>
		</tr>
		<tr>
			<th>Dob</th>
			<td><input type="date" name="dob" required="" class="form-control"></td>
		</tr>
		<tr>
			<th>Gender</th>
			<td><input type="radio" name="gender" value="male" >male<input type="radio" name="gender" value="female">female</td>
		</tr>
		<tr>
			<th>Image</th>
			<td><input type="file" name="image" required="" class="form-control"></td>
		</tr>
		<tr>
			<th>Phone</th>
			<td><input type="text" name="phone" required="" class="form-control"></td>
		</tr>
		<tr>
			<th>Pincode</th>
			<td><input type="text" name="pincode" required="" class="form-control"></td>
		</tr>

		<tr>
			<th>Email</th>
			<td><input type="text" name="email" required="" class="form-control"></td>
		</tr>
		<tr>
			<th>Username</th>
			<td><input type="text" name="uname" required="" class="form-control"></td>
		</tr>
		<tr>
			<th>Password</th>
			<td><input type="password" name="password" required="" class="form-control"></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><input type="submit" name="submit" value="submit" class="btn btn-success"></td>
		</tr>
	</table>
</form>


</body>
{% endblock %}